<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FCT Suite">
  <test thread-count="5" name="Test">
  <groups>
          <run>
               <exclude name="smoketesting"></exclude>
          </run>
  </groups>
 
  <!--  <parameter name="S" value="90"></parameter>-->
    <classes>
      <class name="test.automation_testing23jan.annotation"/>
      <class name="test.automation_testing23jan.orangehrmtest"/>
      <class name="test.automation_testing23jan.priorityintestng"/>
      <class name="test.automation_testing23jan.demo_test"/>
      
      <!--  <methods>
             <include name="fashion"></include>
            <include name="food"></include>   
            
            <exclude name="food"></exclude>
       </methods>
       </class>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
